.story__btn {
  width: 3.5rem;
  height: 3.5rem;
  font-size: $fs-4;
  background-color: $white;
  color: $subtitle;
  border-radius: 100%;
  border: 0.1rem solid $subtitle;
  & > svg {
    width: 70%;
    height: 70%;
  }
  @include responsive(tablet) {
    display: none;
  }
  &::after {
    font-size: $fs-3;
  }
}

.slider__navigation-btn {
  width: 4rem;
  height: 4rem;
  background-color: $white;
  border: 0.1rem solid $subtitle;
  border-radius: 100%;
  color: $subtitle;
  font-size: $fs-4;
  & > svg {
    width: 70%;
    height: 70%;
  }

  &::after {
    font-size: $fs-3;
  }
}
